.light-box {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.content-light-box {
  top:10%;
  left:0;
  z-index: 9999;
  position: relative;
  background-color: #FFFFFF;
  margin: auto;
  left: 0;
  right: 0;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;

}

.header-light-box{
  padding: 0.5em;
}

.body-light-box{
  padding: 0.5em;
}

.black_overlay{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color:#000000 ;
  z-index:9998;
  opacity:0.3;
  filter: alpha(opacity=60);

}

.hide-light-box{
  float: right;
}

.form-group {
  margin-bottom: 0.5em;
}

.title-of-problem,
.description-of-problem,
.url-of-the-problem-page,
.priority,
.priority-back-end,
.status,
.media-input,
.browser {
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
  cursor: default;
  font-size: 14px;
  font-weight: 700;
}

.form-ticket {
  display: block;
  width: 100%;
  padding-top: 6px;
  padding-right: 12px;
  font-size: 14px;
  border-top: rgb(204, 204, 204);
  border-top-style: solid;
  border-top-width: 1px;
  border-radius: 4px;
}

.notification-form-ticket {
  padding: 10px;
}

.group{
  margin-bottom: 15px;
}

.column-priority_ticket {
  text-align: left;
  width:10%;
  overflow:hidden
}

.column-status_ticket {
  text-align: left;
  width:10%;
  overflow:hidden
}

.before-save-post{
  display: inline-block;
}

ul.media-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
}

ul.media-list li {
  display: inline-block;
  margin-right: 1em;
  position: relative;
}

span.media-name {
  color: black;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
  width: 150px;
}

span.media-name span {
  position: absolute;
  padding: 5px 10px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  max-height: 100%;
  word-wrap: break-word;
  text-align: center;
  background: rgba(255,255,255,.8);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
}

.media-thumbnail{
  position: relative;
  width: 150px;
  height: 150px;
  -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
  box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
  background: rgb(238, 238, 238);
}

.media-img{
  position: absolute;
  margin: auto;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
}

.media-img-image{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 855px) {
  .content-light-box {
    width: 60%;
  }
}
@media only screen and (min-width: 856px) {
  .content-light-box {
    width: 30%;
  }
}
